<form method="get" action="/users/home">
   <input type="submit" value="Home Page" />
 </form> 

 <form method="get" action="/logout">
   <input type="submit" value="Log Out" />
 </form>  
 <p>

 </p>
Title: <%= @riddle_post.title %>
<p> Content: <%= @riddle_post.content %></p>
<p>Answer:  <%= @riddle_post.answer %></p>
<p>

</p>
<p>

</p>
<p>
<form method="POST" action="/posts/<%=@riddle_post.id%>">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
    please edit your post below, if not go back to your homepage 
    <p>
    </p>
      <label for="title">Title</label>
      <input type="text" id="title"  name="riddle_post[title]" value="<%= @riddle_post.title %>" />
    </li>
    <li>
      <label for="content">Content</label>
      <textarea type="text" id="content"  name="riddle_post[content]"  value="<%= @riddle_post.content %>">
      </textarea>
    </li>
    <li>
    <label for="answer">Answer</label>
    <input type="text" id="answer"  name="riddle_post[answer]" value="<%= @riddle_post.answer %>" />
  </li>
  </ul>
  <p>

  </p>
  <input type="submit" />
</form>
</p>
  <form method="POST" action="/posts/<%=@riddle_post.id%>/delete">
   <input type="hidden" name="_method" value="DELETE" />
   <input type="submit" value="delete" />
 </form> 